
	<!-- <div class="row"> -->
		<div class="col-xs-1">
			<br>
			<h2>My Places</h2>

			<ul class="heroes red container">
			  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
			  [class.selected]="hero === selectedHero" class="card w-80">
			  <div class="container-fluid">
				  <div class="row">
				  	<div class="col-md-4">
				    	<img class="card-img" src={{hero.image}}><br>
				    </div>
				    <!-- <span class="badge">{{hero.id}}</span>  -->
					<div class="col-md-8 px-3">
					     <div class="card-block px-3">
					    <span class="card-title">{{hero.name}}</span><br>
					    <span class="card-text">{{hero.lat}}</span><br>
					    <span class="card-text">{{hero.lng}}</span><br>
					    </div>
				    </div> 
				  </div>
			  </div>  
			  </li>
			</ul>
		</div>
		<!-- <div class="col-lg-9">
			<div *ngIf="selectedHero">
			<h2>{{selectedHero.name | uppercase}} Details</h2>
			<div><span>id: </span>{{selectedHero.id}}</div>
			<div>
			  <label>name:
			    <input [(ngModel)]="selectedHero.name" placeholder="name">
			  </label>
			</div>
			</div>
		</div> -->
	<!-- </div> -->
